
h2 {
	font-family: sans-serif;
	color: #4F4101;
}

h3 {
	font-family: sans-serif;
	color: #666767;
	margin: 0 10px;
}

* {
	box-sizing: :border-box;
	min-height: 50px;
	margin: 0;
	padding: 0;
}


/*Using Floats: Marketing with Nav*/


header {
	overflow: hidden;
	padding: 10px;
}

h1, li, #row1, .col1, .col2, .col3, footer {
	background: #C276FE;
}

header #logo {
	float: left;
	min-width: 150px;
	margin: 0px;
}

header nav {
	float: right;
	margin-top: 10px;
}

header nav ul li {
	float: left;
	min-width: 30px;
	min-height: 20px;
	list-style: none;
	margin-right: 10px;
}

#columnWrapper {
	overflow: hidden;
	margin: 0 10px;
}


#row1, #row2 {
	margin-bottom: 10px;
}

.col1, .col2, .col3 {
	width: 33%;
	margin-right: .5%;
	float: left;
}

.col3 {
	margin-right: 0;
	}

footer {
	margin-top: 10px;
	margin: 0 10px;

}
